div.racket{
	background-color : white;
	height : 40px;
	width : 10px;
}

#score{
	position : fixed;
	left : 280px;
	top : 50px;
}

#screen{
	background-color : black;
	
	position : fixed;
	left : 100px;
	top : 100px;

	height : 400px;
	width : 400px;
}

#player1{
	position : fixed;
	left : 150px;
	top : 280px;
}

#player2{
	position : fixed;
	left : 450px;
	top : 280px;
}

#ball{
	background-color : white;

	position : fixed;
	left : 295px;
	top : 295px;

	height : 10px;
	width : 10px;
}
